@import "tailwindcss";

@theme {
  --font-sans: "Be Vietnam Pro";
}

* {
  font-family: 'Be Vietnam Pro';
}

@layer base {
  body {
    font-family: 'Be Vietnam Pro', sans-serif;
    @apply antialiased bg-gray-50;
  }
}